{% extends 'cake/cakebase.html' %}


{% block title %}
    {{ block.super }} - Контакты
{% endblock %}

{% block content %}
    <h2>Контакты:</h2>
    <p class = "pWithoutback">Тут должон быть рекламный текст, описывающий всю красоту данного предприятия, но увы! тут его нет. Аналогичная ситуация с контактами.</p>
    <h2>Об авторе:</h2>
    <p class = "pWithoutback">Тут должон быть рекламный текст, описывающий всю красоту данного предприятия, но увы! тут его нет. Аналогичная ситуация с контактами.</p>
{% endblock %}